                            .flyingBug {
                                position: relative;
                                color: rgb(13, 165, 165);
                                background: transparent;
                                border: 0;
                            }
                            
                            .gridcontainer {
                                display: grid;
                                grid-template-columns: 100%;
                                grid-template-rows: auto;
                                grid-template-areas: "grid1" "grid3" "grid2" "footer";
                            }
                            
                            #grid1 {
                                height: 100%;
                                margin-bottom: 5%;
                                background: white;
                                text-align: center;
                                grid-area: grid1
                            }
                            
                            #grid1>h2 {
                                color: var(--clr-dark);
                                font-size: 2.5em;
                                margin: 10px;
                            }
                            
                            #grid2 {
                                height: 100%;
                                background: white;
                                text-align: center;
                                align-items: center;
                                overflow: hidden;
                                grid-area: grid2
                            }
                            
                            #grid3>img {
                                height: auto;
                                width: 100%;
                                max-height: 100%;
                                max-width: 100%;
                                object-fit: contain;
                                position: relative;
                            }
                            
                            #grid3>button {
                                display: inline-block;
                                position: relative;
                                top: -14%;
                                color: rgb(13, 165, 165);
                                z-index: 1;
                                background: transparent;
                                border: none;
                                opacity: 75%;
                                cursor: pointer;
                                margin: 0.5em;
                                font-size: 0.9em;
                            }
                            
                            #grid3 {
                                height: 35em;
                                background: var(--clr-light);
                                text-align: center;
                                align-items: center;
                                grid-area: grid3
                            }
                            
                            footer {
                                position: fixed;
                                left: 0.3rem;
                                right: 0.3rem;
                                bottom: 0;
                                height: 6em;
                                background-color: rgba(204, 204, 204, 0);
                                grid-area: footer
                            }
                            
                            .playPauseButtons:active {
                                transform: scale(0.93);
                            }
                            
                            @media screen and (max-width:768px) {
                                .gridcontainer {
                                    display: grid;
                                    grid-template-columns: auto;
                                    grid-template-rows: auto;
                                    grid-template-areas: "grid1" "grid3" "grid2" "footer";
                                }
                                #grid1 {
                                    height: 100%;
                                    background: white;
                                    grid-area: grid1
                                }
                                #grid2 {
                                    height: 100%;
                                    background: white;
                                    text-align: center;
                                    align-items: center;
                                    overflow: hidden;
                                    grid-area: grid2
                                }
                                #grid3 {
                                    height: 100%;
                                    margin-bottom: 20%;
                                    background: var(--clr-light);
                                    align-items: center;
                                    grid-area: grid3
                                }
                                footer {
                                    position: fixed;
                                    left: 0.3rem;
                                    right: 0.3rem;
                                    bottom: 0;
                                    height: 4em;
                                    background-color: rgba(204, 204, 204, 0);
                                    grid-area: footer
                                }
                            }