:root{

    --clr-light: #EEEEEE ;
    --clr-dark: #476072  ;
    --clr-accent:   #334257  ;
    --clr-alt: #548CA8  ;
}


.gridcontainer {
    margin: 0.3rem;
    display: grid;
    grid-template-columns: 33.1% 33.1% 33.1%;
    grid-template-rows: auto;
    grid-template-areas:
     "grid1 grid1 grid2"
     "grid3 grid3 grid3"
     "footer footer footer";
     grid-gap: 0.3rem;
     font-family: "Urbanist", sans-serif;
}
#grid1{
    height: 30em;
    text-align: center;
    background: white;
    grid-area: grid1}

#grid1>h2{
    font-size: 5em;
    }

          

#grid1>h2 {
    color:var(--clr-dark);
}

 #grid1 p {
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
} 

#grid2{
    height: 30em;
    background: white;
    grid-area: grid2}

#grid2>img {
    height:auto;
    width:auto;
    max-height: 85%;
    max-width: 85%;
    position: relative;
    box-shadow: 0em 1em 2em 0em;
    border-radius: 2rem;
    left: 1rem;
}

#grid3{
    height: 30em;
    background-color: var(--clr-light);
    background: white;
    grid-area: grid3}

.skillsH {
    color:var(--clr-dark);
    font-size: 1.8em;
}  
    
#grid3 p{
    font-size: 2em;
    border-style: none;
    color: var(--clr-Dark);
}
     
footer{
    position: fixed;
    text-align: center;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0;
    height: 6em;
    background-color: rgba(77, 77, 77, 0.322);
    grid-area: footer
}

.socials {
    color: var(--clr-dark);
    border: 0;
    background: transparent;
    margin-inline: 1em;
    cursor: pointer;
}



/* To keep the navigation links separated during screen minimizing. */

@media screen and (max-width:1024px) {
    .nav-links{   
        width: 100%;
    }  
}


/* Down below we have the mobile settings */

 @media screen and (max-width:768px) {
    .header{
        display: none;
    }


    h1 {
        color: var(--clr-dark);
        background-color: var(--clr-light);
        margin: 0.08em;
        padding: 0;
        text-align: center;
        display: inline-block;
        margin-left: 60%;
        transform: translate(-50%, 0);
        font-family: "Urbanist", sans-serif;
        font-weight: 900;
        font-size: 1.5em;
      }

    h3{
        color: var(--clr-dark);
        font-family: "Urbanist", sans-serif;
    }
    h2{
        color: var(--clr-dark);
        font-family: "Urbanist", sans-serif;
    }

    .gridcontainer {
        background-color: white;
        margin: 0.3rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "grid1" "" "grid2" "grid3" "footer";
         grid-gap: 0.3rem;
    }

    #grid1{
        height: 30em;
        text-align: center;
        grid-area: grid1}

        body{
            overflow-x: hidden;
            background-color: white;
        }


    #grid2{
        
        height: 30em;
        background-color: white;
        grid-area: grid2}

        #grid2>img {
            height:auto;
            width:auto;
            max-height: 100%;
            max-width: 100%;
            position: relative;
            box-shadow: 0em 1em 2em 0em;
            border-radius: 10rem;
            left: -1rem;
            margin-top: 0,5rem;

        }

    #grid3{
        height: 22.5em;
        background-color: white;
        align-items: center;
        text-align: center;
        grid-area: grid3
    }
    
        
    footer{
        position: relative;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        height: 6em;
        margin-top: 1.2em;
        background-color: rgba(204, 204, 204, 0.459);
        grid-area: footer
    }


} 


@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(5em);
    }
    to{
        opacity: 1;
        transform: translateX(0em);
    }
}




.skillsection{
    width: 10%;
    max-width: 20rem;
     padding: 4em 2em;  
      
}  

.container {
width: 60%;
margin-top: 5%;
margin-left: 10%;
margin-bottom: auto;
}


.progress{
width: 100%;
height: 1.4em;
background-color: rgba(17, 85, 85, 0.157);
border-radius: 10rem;
}

.progress .progress-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    background-color:var(--clr-dark);
    border-radius: 10rem;
    position: relative;
    transition: all 4s;
    
}

.progress-bar span{
position: relative;
top: 1%;
color: rgb(255, 255, 255);
}


 